{% extends 'base.html' %}
{% load static %}

{% block title_block %}Submission{% endblock %}

{% block styles_block %}
<link rel="stylesheet" href="{% static 'card_form/partials/form_partial.css' %}">
<link rel="stylesheet" href="{% static 'card_form/partials/card_partial.css' %}" >
{% endblock %}

{% block card_block %}
    {% include 'card_form/partials/card_partial.html' %}
{% endblock %}

{% block form_block %}
    {% include 'card_form/partials/form_partial.html' with form=form %}
{% endblock %}

{% block javascript_block %}
    <script src="{% static 'card_form/javascript/card_update.js' %}"></script>
    <script src="{% static 'card_form/javascript/client_validation.js' %}"></script>
{% endblock %}