<div class="card-form">
    <form action="/" method="POST">
        {% csrf_token %}
        <div class="card-form__row">
            {{ form.cardholder_name.label_tag }}
            {{ form.cardholder_name }}
        </div>
        <div class="card-form__row">
            {{ form.card_number.label_tag }}
            {{ form.card_number }}
        </div>
        <div class="card-form__row final-row">
            <fieldset>
                <legend>exp. date (mm/yy)</legend>
                {{ form.expiry_month }}
                {{ form.expiry_year }}
            </fieldset>
            <div class="cvc-widget">
                {{ form.cvc.label_tag }}
                {{ form.cvc }}
            </div>
        </div>
        <div class="card-form__row">
            <button type="submit">Confirm</button>
        </div>
    </form>
</div>
