<template id="warning-template">
    <div class="warning-overlay" id="warning-overlay">
        <div class="warning" id="warning">
            <h3>Please do not enter any real data.</h3>
            <p>
                This project has a working database connected to the form. It is intended as a
                portfolio piece only. Please do not insert any data that would be compromising.
            </p>
            <button type="button" id="warning-accept">Ok</button>
        </div>
    </div>
</template>
