@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500&display=swap');

:root {
    /* colours */
    --lin-grad-1: hsl(249, 99%, 64%);
    --lin-grad-2: hsl(278, 94%, 30%);
    --red: hsl(0, 100%, 66%);
    --white: hsl(0, 0%, 100%);
    --light-grey-violet: hsl(270, 3%, 87%);
    --dark-grey-violet: hsl(279, 6%, 55%);
    --very-dark-grey-violet: hsl(278, 68%, 11%);

    /*  Font */
    --font-size: 18px;
    --font-family: 'Space Grotesk', sans-serif;
}

* {
    box-sizing: border-box;
}

body {
    font-family: var(--font-family);
    font-size: var(--font-size);
    color: var(--very-dark-grey-violet);
}
