{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>{% block title_block %}Card Form{% endblock %}</title>
        <link rel="stylesheet" href="{% static '/base.css' %}" />
        {% block styles_block %}{% endblock %}
    </head>
    <body>
        {% block warning_block %}{% endblock %}
        <div class="background-image"></div>
        <div class="grid">
           <div class="grid__column1">
                {% block card_block %}{% endblock %}
           </div>
           <div class="grid__column2">
               {% block form_block %}{% endblock %}
           </div>
        </div>
     

        {% block javascript_block %}{% endblock %}
    </body>
</html>
